.book-info {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-spacing);
  align-items: start;
}

.book-info img {
  flex: 1;
  border: var(--primary-color) 1px solid;
  max-width: min(100%, 30rem);
}

.details {
  flex: 1;
}
